<h> Update Student</h>
<form action="" method="POST">
    <input type="hidden" name="id" value="<%- student[0].id %>"/>
    <input type="text" name="name" value="<%- student[0].name %>" placeholder="Enter Name" required/><br/>
    <input type="email" name="email" value="<%- student[0].email %>" placeholder="Enter email" required/><br/>
    <input type="number" name="mno" value="<%- student[0].mno %>" placeholder="Enter Mobile number" required/><br/>
    <input type="submit" value="Update"/><br/>
</form>